.topbar__main-components {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  max-width: 1290px;
  margin: auto;
  /* flex-wrap: wrap; */

  color: #4d4d4d;
}
.topbar__main-components_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.topbar__main-components_discount span {
  color: red;
  font-weight: 500;
}
@media screen and (max-width: 1000px) {
  .topbar__main-components_number,
  .topbar__main-components_div {
    display: none;
  }
  .topbar__main-components {
    display: flex;
    justify-content: space-evenly;
  }
}
